.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-items ul{
    display: flex;
    padding: 0px 20px;
  
}
.nav-items ul li{
    list-style: none;
    padding: 20px;
    
}
.res-card{
    padding: 5px;
    width: 200px;
    height: auto;
    /* border: 1px solid black; */
    background-color: rgb(215, 209, 201);
    cursor: pointer;
    margin: 5px;

}
.search{
    padding: 10px;
}
.res-logo
{
    width: 198px;
    height: 198px;
}
.res-card:hover{
    background-color: rgb(215, 206, 178);
}

.restaurant-container
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* filter button */
.filter-btn{
    margin: 10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-cards{
    padding: 5px;
    width: 200px;
    height: 400;
    
    background-color: rgb(215, 209, 201);
    cursor: pointer;
    margin: 5px;
}
.login
{
    
    padding: 0 10px;
    cursor: pointer;
}